@import url("https://fonts.googleapis.com/css2?family=Abel&family=Bebas+Neue&family=Cabin&display=swap");

/*Cuerpo de la página, incluyendo texto y background*/

body {
    background-image: url("imagenes/decoracionlarga.png");
    background-repeat: no-repeat;
    background-position: top right;
    width: 98%;
    padding: 5vh;
}


/*Texto de la página más video*/

.izquierdo-nosotros {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin-left: 20vh;
}


/*Slider o carrusel de fotos*/

.contenedor-slidernos {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slidernos {
    display: flex;
    margin-top: 3%;
}

.slider-section-nosotros {
    width: 100%;
}

.slider-in {
    display: flex;
    margin-left: -100%;
    object-fit: contain;
}

.slider-btn {
    position: absolute;
    overflow: visible;
    top: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: all 2.5s;
}

.slider-btn:hover {
    background-color: #fff;
}

.slider-btn-right {
    right: 10px;
}

.slider-btn-left {
    left: 10px;
}

.slider-btn-right::before {
    content: url(imagenes/arrow-right-svgrepo-com.svg);
}

.slider-btn-left::before {
    content: url(imagenes/arrow-left-svgrepo-com.svg);
}


/*Formato de Títulos*/

.izquierdo-nosotros h1 {
    font-family: "Bebas Neue";
    color: #E6B74F;
    font-size: 50px;
    text-align: left;
    padding-left: 10vh
}

.izquierdo-nosotros h2 {
    font-family: "Bebas Neue";
    line-height: 0%;
    color: #E6B74F;
    font-size: 35px;
    text-align: left;
    padding: 0 0 5vh 10vh;
}


/*Formato del párrafo*/

p {
    text-align: justify;
    padding: 5vh 10vh 5vh 10vh;
    font-family: Abel;
    font-size: 3vh;
}


/*Video de youtube nostros*/

.video-nosotros {
    text-align: center;
    margin: auto 5vh;
}